html {
    scroll-behavior: smooth;
}
:root {
    --color-background: rgb(240, 240, 240);
    --color-nav: rgb(240, 240, 240, .5);
    --color-text: #444;
    --color-text-secondary: rgb(108 108 108);
    --color-primary: #27496D;
    --color-card: rgba(39, 73, 109, .5);
    --gap-section: 10em;
    --gap: 24px;
}

.dark-theme {
    --color-background: #27496D;
    --color-nav: rgba(39, 73, 109, 0);
    --color-text: rgb(218 218 219);
    --color-text-secondary: rgb(155 156 157);
    --color-primary: whitesmoke;
    --color-card: rgba(218, 218, 219, .3);
}

#line2, #line3 {
    transition: all .2s ease;
    transform-origin: 50% 50% 0;
}
#line1, #line4 {
    transition: all .1s ease-out;
}

svg#down {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 18px;
    animation: heart .6s infinite ease alternate;
    opacity: .8;
}
@keyframes heart {
    0% {
        transform: translate(0,-5px);
    }
}
.hide {
    display: none;
}
.line-shadow {
    box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.1);
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.2;
    text-align: center;
    font-size: 2.5em;
    color: var(--color-text);
}

a {
    color: var(--color-primary);
}

.underline {
    border-bottom: solid 3px var(--color-primary);
}

.hero, .projects, .skills, .contact {
    padding: var(--gap-section) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section:nth-child(odd) {
    box-sizing: border-box;
    min-height: calc(90vh);
}

body {
    background: var(--color-background);
    background-attachment: fixed;
    color: var(--color-text);
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    &:not(.dark-theme) #sun{
        display: none;
    }
    &:not(:not(.dark-theme)) #moon{
        display: none;
    }
    &>header {
        height: 60px;
        position: sticky;
        top: 0;
        background-color: var(--color-nav);
        backdrop-filter: blur(4px);

        & nav {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: auto;
            max-width: calc(1024px + var(--gap)*2);
            line-height: 60px;
            & button#menu {
                background-color: transparent;
                border: 0;
                padding: 0;
                display: none;
                & svg line {
                    stroke: var(--color-text);
                }
            }
            & #themeOption {
                margin: auto var(--gap);
                & button#sun, & button#moon {
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }

            & ul {
                display: flex;
                list-style: none;
                gap: 16px;
                margin: auto var(--gap);
                padding: 0;
            }

            & ul li {
                line-height: 28px;
                font-size: 16px;
            }
            & ul li:first-child {
                font-size: 24px;
                font-weight: 700;
            }

            & ul li a {
                height: 100%;
                display: inline-block;
                color: var(--color-text);
                text-decoration: none;
            }

            & ul li a:hover {
                border-bottom: solid 3px rgba(128,128,128,.3);
            }
        }
    }

    & main {
        margin: auto;
        max-width: 650px;
        padding: 0 var(--gap);
        
        & section.hero {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 32vh;
            & h1 {
                margin-bottom: 2px;
                font-size: 3.5em;
                color: var(--color-primary);
                & aside {
                    color: rgb(169, 169, 169);
                }
            }
        }        

        & .projects {
            & ul {
                padding: 0;
            }
    
            & ul li {
                border: 3px solid var(--color-card);
                padding: 16px;
                margin: 12px 0;
                border-radius: 6px;
                list-style: none;
            }
    
            & ul li p {
                font-size: 16px;
            }
        }
        & .skills {
            align-items: center;
            text-align: center;
            & ul {
                list-style: none;
                padding: 0;
                & li {
                    display: inline-flex;
                    flex-direction: column;
                    gap: 7px;
                    margin: 18px;
                    text-align: center;
                    }
                    & img {
                        width: 64px;
                        transition: .3s;
                    }
                    & img:hover {
                        transform: scale(1.15);
                    }
                }
        }

        & .contact {
            & > p {
                text-align: center;
            }
            & .social-networks {
                display: flex;
                justify-content: center;
                & ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    & li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 14px;
                        & svg {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
    
    & footer {
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    :root {
        --gap: 14px;
        --gap-section: 5em;
    }

    body {
        & header {
            transition: .3s;
            &:not(:not(.display-header-menu)) .menu {
                transition: .3s ;
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }

            & nav {
                position: relative;
                box-sizing: border-box;
                height: 60px;
                & button#menu {
                    display: block;
                    height: 32px;
                    width: 32px;
                    box-sizing: border-box;
                    margin: var(--gap);
                }
                & ul {
                    margin: var(--gap);
                    flex-direction: column;
                }
                & div#themeOption {
                    margin: var(--gap);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .display-header-menu {
        height: 290px;
    }
    .hero {
        & h1 {
            font-size: 3em;
        }
    }
    .menu {
        margin-top: 60px;
        text-align: center;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
    }
}
